* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

h1 {
	font-size: 3vw;
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(243, 207, 129, 0.562);
	color: rgb(51, 51, 51);
}

.wrapper__play{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.title{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.comp,
.me {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.sign__img {
	width: 30%;
	transition: 0.2s;
}

.control {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-weight: bold;
}

.buttons {
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 20%;
}

.button {
	width: 8rem;
	height: 8rem;
	outline: none;
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 1rem;
	/* font-weight: 600; */
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
}

.button__img{
	width: 70%;
}

.button:hover {
	animation-name: button_border_animation;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	0% {
		transform: translateY(0);
	}
	17% {
		transform: translateY(-20%);
	}
	34% {
		transform: translateY(0);
	}
	51% {
		transform: translateY(-20%);
	}
	68% {
		transform: translateY(0);
	}
	85% {
		transform: translateY(-20%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes button_border_animation {
	0% {
		border: 2px solid rgb(143, 80, 80);
	}
	10% {
		border: 2px solid rgba(250, 29, 29, 0.904);
	}
	20% {
		border: 2px solid rgba(250, 162, 29, 0.904);
	}
	30% {
		border: 2px solid rgba(235, 250, 29, 0.904);
	}
	40% {
		border: 2px solid rgba(128, 250, 29, 0.904);
	}
	50% {
		border: 2px solid rgba(29, 250, 103, 0.904);
	}
	60% {
		border: 2px solid rgba(29, 217, 250, 0.904);
	}
	70% {
		border: 2px solid rgba(29, 99, 250, 0.904);
	}
	80% {
		border: 2px solid rgba(62, 29, 250, 0.904);
	}
	90% {
		border: 2px solid rgba(162, 29, 250, 0.904);
	}
	100% {
		border: 2px solid rgba(250, 29, 66, 0.904);
	}
}

@media screen and (max-width: 49em) {
	h1,
	.score {
		font-size: 5vw;
	}

	.sign__img {
		width: 50%;
	}

	.buttons{
		width: 80%;
	}

	.button{
		width: 7rem;
		height: 7rem;
	}
}

@media screen and (max-width: 37em) {
	.wrapper {
		flex-direction: column;
	}
	
	h1,
	.score {
		font-size: 6vw;
	}
}
