* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

h1 {
	font-size: 4rem;
	width: 26.5rem;
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comp,
.me {
	width: 46%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.comp__img,
.me__img {
	width: 70%;
	height: auto;
	transition: 0.2s;
	margin-top: 10rem;
}

.control {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
	font-weight: bold;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 8%;
	height: 50%;
}

.button {
	width: 15rem;
	height: 20%;
	outline: none;
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 1rem;
	/* font-weight: 600; */
	cursor: pointer;
	text-transform: uppercase;
	transition: 0.5s;
}

.button:hover {
	animation-name: button_border_animation;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

@keyframes fade {
	0% {
		transform: scale(1);
	}
	17% {
		transform: scale(1.2);
	}
	34% {
		transform: scale(1);
	}
	51% {
		transform: scale(1.2);
	}
	68% {
		transform: scale(1);
	}
	85% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes button_border_animation {
	0% {
		border: 2px solid rgb(143, 80, 80);
	}
	10% {
		border: 2px solid rgba(250, 29, 29, 0.904);
	}
	20% {
		border: 2px solid rgba(250, 162, 29, 0.904);
	}
	30% {
		border: 2px solid rgba(235, 250, 29, 0.904);
	}
	40% {
		border: 2px solid rgba(128, 250, 29, 0.904);
	}
	50% {
		border: 2px solid rgba(29, 250, 103, 0.904);
	}
	60% {
		border: 2px solid rgba(29, 217, 250, 0.904);
	}
	70% {
		border: 2px solid rgba(29, 99, 250, 0.904);
	}
	80% {
		border: 2px solid rgba(62, 29, 250, 0.904);
	}
	90% {
		border: 2px solid rgba(162, 29, 250, 0.904);
	}
	100% {
		border: 2px solid rgba(250, 29, 66, 0.904);
	}
}

@media screen and (max-width: 49em) {
	h1,
	.score {
		font-size: 3rem;
	}
}

@media screen and (max-width: 37em) {
	.wrapper {
		flex-direction: column;
	}

	h1 {
		font-size: 2rem;
	}

	.score {
		font-size: 2.5rem;
	}

	.control {
		height: 20%;
	}

	.buttons {
		height: 75%;
	}

	.comp__img,
	.me__img {
		margin-top: 2rem;
	}

	.comp,
	.me {
		width: 50%;
		height: 40%;
	}
}
